body{
    margin: 0;
    padding: 0;
}

.navigation {
    background-color: rgb(243, 239, 239);
    height: 80px;
    padding: 10px;
    /* text-align: center; */
}

.navigation ul  {
    list-style-type: none;
}

.navigation > ul > li   {
    display: inline;
    margin: 30px;
}

.navigation ul li a {
    color: black;
    text-decoration: none;
    text-align: center;
}

.header {
    height: 780px;
    width: 100%;
    background: url("../imgs/mack.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(.9);
}

.content .projects-zone {
    height: 500px;
    width: 100%;
    padding: 30px;
}

.projects-zone .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.projects-zone h1   {
    text-align: center;
}

.projects-zone  .projects .project-container .project-1    {
    width: 200px;
    height: 300px;
    text-align: center;
    background-color: rgb(243, 239, 239);
    padding: 2px;
}

.projects-zone  .projects .project-container .project-2    {
    width: 200px;
    height: 300px;
    text-align: center;
    background-color: rgb(243, 239, 239);
    padding: 2px;
}

.projects-zone  .projects .project-container .project-3    {
    width: 200px;
    height: 300px;
    text-align: center;
    background-color: rgb(243, 239, 239);
    padding: 2px;
}

.projects-zone  .projects .project-container .project-4    {
    width: 200px;
    height: 300px;
    text-align: center;
    background-color: rgb(243, 239, 239);
    padding: 2px;
}

.projects-zone .projects .project-container a {
    text-decoration: none;
    text-align: center;
    margin-left: 70px;
}

.button a   {
    color: white;
    text-decoration-style: none;
    text-align: center;
    font-size: large;
}

.about  {
    text-align: center;
    height: 700px;
    width: 100%;
    background-color: rgb(243, 239, 239);
    padding: 10px;
    margin: 0;
}

.about ul {
    list-style-type: none;
}

.about h1   {
    margin-top: 20px;
}

.contact {
    height: 430px;
    width: 100%;
    text-align: center;
    padding: 10px;
}



























